
###> symfony/framework-bundle ###
/.env.local
/.env.*.local
!.env.dist
.env
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
.php-cs-fixer.cache
/build
!/build/.gitkeep